body{
    font-family: 'Nunito',"Microsoft Yahei",sans-serif,Georgia,"Times New Roman",Times,Arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 2em;
}
a{
    text-decoration: none;
}
#main{
    margin:1em auto;
    width: 1200px;
    background: #fff;
}
article{
    padding: 3em 0;
    margin: auto;
    width: 800px;
    background: #fff;
}
.con_header{
    text-align: center;
    width: 300px;
    margin: auto;
}
#main_title{
    margin: 1em auto 1em;
    padding: 0.5em 0.9em;
    display: inline-block;
    line-height: initial;
}
#main_title a{
    color: #4a6c88;
    font-size: 2.1em;
    font-weight: 600;
}
aside{
    font-size: 105%;
}
#header{
    top: 0;
    background: #404d60;
    width: 100%;
    line-height: 45px;
}
aside ul li{
    line-height: 1.5;
    display: inline-block;
    margin: 0 1.2em;
}
aside ul li a{
    font-family: "Microsoft Yahei";
    color:#8a98a5;
    font-size: 0.75em;
    font-weight: 400;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
aside ul li a:hover{
    color:#fff;
}
aside ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article h1{
    text-align: center;
    font-size: 2em;
    line-height:2em;
    font-weight: 600;
    margin: 30px 0 0 0;
}
article section{
    padding: 20px 50px 50px 50px;
    margin: 0 0 3em 0;
    border-bottom: #d0d6dd 1px dotted;
}
.para{
    text-align: left;
    font-weight: 400;
    color: #7f99ae;
}
article section a{
    color: #678092;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
article section a:hover{
    color: #8bc2e9;
}
#more{
    text-align: center;
    margin: 3em auto;
}
article section .more{
    text-align: center;
    background: #8dadc5;
    padding: 0.3em;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    border-radius: 0.2em;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
article section .more a{
    color: #fff;
}
article section .more:hover{
    background: #449fdb;
}
.info{
    margin: 20px 0 40px 0;
    text-align: center;
    color: #6a8da9;
    height: 1em;
    font-size: 0.75em;
}
#scroll{
    height: 2.1em;
    width: 2.1em;
    position: fixed;
    bottom: 5em;
    right: 5em;
    background: #678092;
    color: #f1f1f1;
    text-align: center;
    padding: 0.1em 0;
    border-radius: 0.3em;
}
#scroll:hover{
    cursor: pointer;
}
.disappear{
display: none;
}
.appear{
    display: block;
    animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -moz-animation:  fadein 0.5s;
}
#page{
    text-align: center;
}
.page{
    padding: 0.3em;
    margin: 0.5em 3em;
    background: #678092;
    border-radius: 0.2em;
}
.page a{
    color:#fff;
}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.footer{
    text-align: center;
    font-size: 0.9em;
    color: #404d60;
    clear: both;
    padding: 2em;
}
@media (max-width: 1200px) {
    .con_header{
        width: 150px;
    }
    .right{
        width: 150px;
    }
    .day{
        width: 150px;
        font-size: 110px;
        height: 150px;
    }
    #main{
        width: 1000px;
    }
    article{
        width: 800px;
    }
    .month{
        font-size: 35px;
    }
}
@media (max-width: 1000px) {
    .right{
        display: none;
    }
    .con_header{
        float: none;
        margin: 1.5em;
        padding: 0;
        width: initial;
    }
    body{
        width: 100%;
        font-size: 100%;
    }
    #main{
        width: 95%;
        margin: 0 auto;
    }
    img{
        max-width: 100%;
    }
    #main_title{
        padding: 1em 0;
        display: block;
        margin: 1em 0 0 0;
        background: none;
    }
    #main_title a{
        color: #384c68;
        font-size: 1.5em;
        font-weight: 600;
    }
    aside{
        width: 100%;
        margin-bottom: 5px;
    }
    article{
        float: none;
        width: inherit;
    }
    article section {
        padding: 10px 0 0 0;
    }
    article section a{
        line-height: 1em;
        font-size: 0.75em;
    }
    .main_title{
        text-align: center;
    }
    #nav_button{
        float: left;
        display: block;
        margin: 0 0 0 10px;
    }
    .footer{
        margin: 50px auto 50px;
    }
    .nav_activate{
        display: block;
    }
    #scroll{
        display: none;
    }
}