body{
    background-color:#212121;
    font-family: "Microsoft Yahei",sans-serif,Georgia,"Times New Roman",Times,Arial;
    margin: 0;
    padding: 0;
    color: #aaa;
    font-size: 14px;
    line-height: 45px;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}

#main{
    margin:auto;
    width: 800px;
    margin-top: 20px;
}

#article{
    font-size: 14px;
    margin: auto;
}
.head_con{
    width: 100%;
    text-align: center;
    padding: 80px 0 80px 0;
    margin: 0 auto;
    background: #eee;
}
.head_con a{
    color: #222;
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}
.title{
    height: 54px;
    padding: 20px 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 200%;
    margin: auto;
    border-bottom: #666666 3px solid;
}

.title a{
    color: #FAFBFB;
}
#aside{
    float: left;
    width: 230px;
    height: 100%;
    background: #959595;
}
.aside_button {
    font-family: "Microsoft Yahei";
    color:#212121;
    font-size: 16px;
    line-height: 3;
    text-align: center;
}
.pre_menu{
    text-align: center;
}
.aside_button:hover{
    cursor:pointer;
}
.pre_menu{
    background: #6b6b6b;
    width: 200px;
    margin: auto;
    font-size: 12px;
}
.out{
    display: block;
}
.in{
    display: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
table{
    width: 80%;
}
article h1{
    text-align: center;
    font-size: 25px;
    line-height:30px;
    font-weight: normal;
    margin: 30px 0 0 0;
}

.info-time {
    display: inline-block;
    height: 1em;
    font-size: 1em;
    padding-right: 1.25em;
    color: #6b6b6b;
}
.info{
     margin: 5px auto;
     text-align: center;
     font-size: 14px;
     color: #777;
 }
a:hover{
    color: #6b6b6b;
}
#nav_button{
    display: none;
}

@media (max-width: 800px) {
    body{
        width: 100%;
        font-size: 14px;
    }
    #main{
        width: 100%;
        margin: 0;
    }
    #header{
        width: 100%;
        margin: 0 auto;
        float: none;
        position: static;
    }
    .title{
        width: 100%;
        text-align: center;
    }
    aside{
        width: 100%;
        margin-bottom: 5px;
    }
    #article{
        width: 100%;
        float: none;
    }
    #nav_button{
        left: 10px;
        top: 30px;
        position: absolute;
        display: block;
    }
    #nav_button button{
        background: #313131;
        color: #FAFBFB;
        margin: 0;
        border: 0;
    }
    .nav_deactivate{
        display: none;
    }
    .nav_activate{
        display: block;
    }
}



